<!doctype html>
<html lang="en">
  <head>
<!--  <script data-ad-client="ca-pub-6142012163775386" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
      
    <title>Robo-world</title>
   
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      

    <!-- Bootstrap -->
	 <link href="static/bootstrap.css" rel="stylesheet">
	 <link href="static/roboworld_2020.css" rel="stylesheet" type="text/css">
	 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> <!-- add a icone where is title-->
 
      
      <style type="text/css">
          
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">       
          
	body,td,th {
	color: #00020A;
	background-color: #F0F5F5;
        
               }
    </style>

   </head>


  <body>
  
   
      


  
 <div class="container-fluid" id ="whole_website"  >
     <div class="container" id="whole_website " >
 <section class="row" id="navigation">
  
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #000000;"  >
  <a class="navbar-brand" href="index.html" id="navigation_text">Logo</a>   
        
       
  <a class="navbar-brand" href="index.html" id="navigation_text">ROBO-WORLD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html" id="navigation_text">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" id="navigation_text" >Offers</a>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="mobile_robots.html">Mobile robots</a>
          <a class="dropdown-item" href="#">Automation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="web_design.html">Web design</a>
        </div>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="about_me.html" id="navigation_text">About me</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="contact.html" id="navigation_text">Contact</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   
   </section>
     </div> 
      
      
      

      
      
      </div>     
      
      
<!-- top background -->   
      

     
  <!-- description part one -->   
     
   <div class="container-fluid" id="main_content_index">
  <div class="row">
    <div class="col">
     <!-- here leave embpty first column -->   
    </div>
    <div class="col-10"> <!-- you can set here size of the middle column -->   
     <section class="row" id="main_content">
      <p> </p>
               <br>     
<p>I am mechanical engineer with experience as a Mechanical Design Engineer, CNC Programmer, Robots Programmer and Manufacturing Engineer. I gained them from a various industries, among others, Oil and Gas, Automotive and Medical Devices. I have experience in design, programming, lean manufacturing, 6S, creating manufacturing processes, quality control, customer service, sale, training and R&D. I develop my skills in the area of the IT, design and in the electronic. To do that I do design and build a mobile robots. You can find some of my work on this website.
              <p>My current company gave me opportunity to get experience also as an Automation Engineer. I assembled a prototype machine to sorting tablets for my company, I designed circuit diagram for this machine, I assembled an electrical box, I did a PLC program and I designed and programmed HMI touch panel for this device. </p>  

                 
            <p> Recently I am improving my skills in the area of the web design and python programming. I am doing Web design course in Shawn Academy and Complete Python Developer in 2020: Zero to Mastery from Udemy. This tools are necessary to complete my project what I am working on. I need python to control echo sensor, dc and servo motors in my vehicle. In taskbar on the top of the page you can find a link with more detail about Rasspberry Pi and Python. By the way I can share with you my recent <a href="about_me/test_w3schools_com.png">"success" ;-)</a> . It is only begining on my adventure but I gues it is good start.  
              
            <a href="about_me/test_w3schools_com.png">    <img src="about_me/test_w3schools_com.png" alt="test" class="img-responsive "  width="400"  height="500" /></a>
           </p>

             
              <p>Cheers</p>
              <p>Marek</p>
              <div class="col-sm-10 col-sm-offset-2   col-md-10 col-sm-offset-1  ">
                  <p> If you have any question you can reach me on the email: <b>infocncprogrammer@gmail.com </b></p>

        </section>      
    </div>
    <div class="col">
    <!-- leve this empty-->
    </div>
</div>
     </div>
   

























      
  
              
      
    
    
    
    
   <!--  reklama adverb -->
<!--     <div clas= row> 
        <div class="col-sm-10 col-sm-offset-2   col-md-10 col-sm-offset-1  ">
        
          <script async 

src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
roboworld_main 
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6142012163775386"
     data-ad-slot="3791165185"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
            
            
        </div>
    </div>
    
    
     end of removed adverb -->
    
      <footer class="col-lg-12 col-sm-offset-1 col-sm-12 col-md-offset-0 col-md-12">
          <p><center>2020 Roboworld created by Marek Augustyn</center></p>
        </footer>
       </div>
            
    
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<!-- <script src="js/jquery-1.11.2.min.js"></script>--> 
<!-- <script src="js/bootstrap.js"></script> --> 
<!-- <script src="js/cnc_programmer.js"></script>--> 
      
      
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>  
    


  
    </body>
  

</html>