<!doctype html>
<html lang="en">
  <head>

      
    <title>Robo-world</title>
   
      
    <meta charset="utf-8">
	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      

    
    <!-- Bootstrap -->
	 <link href="static/bootstrap.css" rel="stylesheet">
	 <link href="static/roboworld_2020.css" rel="stylesheet" type="text/css">
	 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> <!-- add a icone where is title-->
 
      
      <style type="text/css">
          
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">       
          
	body,td,th {
	color: #00020A;
    background-color: darkgrey
        
               }
    </style>



   </head>


  <body>




  
 <div class="container-fluid" id ="whole_website"  >
     <div class="container" id="whole_website " >
 <section class="row" id="navigation">
	
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #000000;"  >
  <a class="navbar-brand" href="index.html" id="navigation_text">Logo</a> 	
        
    	 
  <a class="navbar-brand" href="index.html" id="navigation_text">ROBO-WORLD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	    
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html" id="navigation_text">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" id="navigation_text" >Offers</a>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="mobile_robots.html">Mobile robots</a>
          <a class="dropdown-item" href="#">Automation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="web_design.html">Web design</a>
        </div>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="about_me.html" id="navigation_text">About me</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="contact.html" id="navigation_text">Contact</a>
      </li>
        
        
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   
   </section>
     </div> 
      
      
      

      
      
      </div>     
      
      
<!-- top background -->   
 
      
      
     
  <!-- description part one -->   
     
   <div class="container-fluid" id="main_content_index">
  <div class="row">
    <div class="col">
     <!-- here leave embpty first column -->   
    </div>
    <div class="col-10"> <!-- you can set here size of the middle column -->   
     <section class="row" id="main_content">
      <p> Hello, World! :-)   {{name}}    {{post_id}} </p>
               <br>     
              <p>Is it sound familiar? I guess that you know why, if not, for sure you will know when you start your adventure with robotics. I did this website to help people like you to understand robotics and the same time help me to improve my skills in the web design.
I made everything what you will see on these pages. I am trying to improve my skills in the area of the robotics. In my opinion, robotics is the best for learning coding, designing and electronics.
 I think that the best idea to get skills in this area is just by making things.
 I have made a couple projects, I made a website robowold.pl, and I built line follower, six wheel vehicle, and wireless electromagnetic power inductor. However, I also have an industrial experience in assembly electromechanical devices with PLC and programming ABB robots. I want to show you some of my works, I will explain how were done, and with this knowledge, you can do something similar at home if you wish. 
 Some of the project are finished and some only just started but I hope you can find something interesting for you. 
I have a plan to build mobile robot with a mechanical arm, camera and many sensors around ;-), everything will be controlled by <a target="_blank" href="https://www.amazon.co.uk/gp/product/B07WKKS471/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07WKKS471&linkCode=as2&tag=roboworld-21&linkId=7969f06f3c3c56b3f74abe200bb43b28">Raspberry Pi</a><img src="//ir-uk.amazon-adsystem.com/e/ir?t=roboworld-21&l=am2&o=2&a=B07WKKS471" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />. Inspirations for me are ROVER robots made by NASA.
I know that it is a lot of work but I am not give up and maybe in the time of the coronavirus I can find more time to complete more task.

                    </p>

             
              <p>Cheers</p>
              <p>Marek</p>
            
        </section>      
    </div>
    <div class="col">
    <!-- leve this empty-->
    </div>
</div>
     </div>
   
      
       
       <!-- ikones part one -->
      
 <div class="container" id = "ikonki">
  <div class="row">
    <div class="col-lg">
        
     <article> <img src="static/nowe_zdjecia/abb_a.jpg" alt="ABB" class="img-fluid " title="Robot ABB">
          <a class="btn btn-primary btn-lg btn-dark" href="#" role="button"  id="button_color">Industrial Robots</a>  
    
            <p></p>
        </article>
    </div>
    <div class="col-lg">
        
      <article><img src="static/nowe_zdjecia/6_kol.jpg" alt="Six_weel_robot" class="img-fluid  ">
            
          <a class="btn btn-primary btn-lg btn-dark" href="#" role="button">Mobile Robots  </a> 
    
         
          <p> </p>
        </article>  
        
      
    </div>
    <div class="col-lg">

          <article><img src="static/nowe_zdjecia/six_wheel2.jpg" alt="design_robots" class="img-fluid ">
            
            
            <a class="btn btn-primary btn-lg btn-dark" href="#" role="button">Design  </a> 
            
            
            
          
          <p></p>
          <p>&nbsp;</p>
        </article> 
        
    </div>
  </div>
</div>     
      
     
       
<!-- ikones part 2 -->
       
       <div class="container" id = "ikonki">
  <div class="row">
    <div class="col-lg">
      <article><img src="static/nowe_zdjecia/manufacturing1.jpg" alt="cad_cam" class="img-fluid  ">
            
            
           <a class="btn btn-primary btn-lg btn-dark" href="#" role="button">Manufacturing </a> 
            
                  
          <p></p>
        </article>
    </div>
    <div class="col-lg">
    
          <article><img src="static/nowe_zdjecia/coding1.jpg" alt="pyhton_icon" class="img-fluid  " >
            
             <a class="btn btn-primary btn-lg btn-dark" href="#" role="button">Coding/Programming
                  </a>    
          <p></p>
        </article>
        
        
    </div>
    <div class="col-lg">
  <article><img src="static/nowe_zdjecia/pcb1.jpg" alt="plytka drukowana" class="img-fluid  ">
            
         <a class="btn btn-primary btn-lg btn-dark" href="#" role="button"> Electronics    </a> 
          <p></p>
        </article>
        
    </div>
  </div>
       
      
       
       
      
      
      
   
    
    
    
    
    
    
    
    
    
   <!--  advertisement adverb -->
<!--     <div clas= row> 
        <div class="col-sm-10 col-sm-offset-2   col-md-10 col-sm-offset-1  ">
        
          <script async 

src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
roboworld_main 
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6142012163775386"
     data-ad-slot="3791165185"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
            
            
        </div>
    </div>
    
    
    stopka -->
    
        <footer class="col-lg-12 col-sm-offset-1 col-sm-12 col-md-offset-0 col-md-12">
          <p><center>2020 Roboworld created by Marek Augustyn</center></p>
        </footer>
       </div>
            

     
<!-- scripts from 13 czerwca 2020 roku -->       

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
  


  
    </body>
  

</html>